.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  /* border: 5px solid green;   */
}

.App-link {
  color: #61dafb;
}

.column {
  float: left;
  width: 30%;
}

.left{
  margin-left: 5%;
}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}

input{
  margin: 0% 0% 4% 0%
}

textbox{
  /* border: solid 5px green; */
  margin: 0% 0% 4% 0%
}

h2{
  margin: 1% 0% 1% 0%;
}
